In [1]:
#Loading data into Python
import pandas as pd #import pandas library
import numpy as np #import numpy library

df = pd.read_csv('ThaiLiveSell.csv') #read data
df.drop('status_id', axis=1, inplace=True) #drop status_id column
df

,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0
1,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0
2,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0
3,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0
4,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0
5,photo,4/18/2018 2:14,217,6,0,211,5,1,0,0,0
6,video,4/18/2018 0:24,503,614,72,418,70,10,2,0,3
7,video,4/17/2018 7:42,295,453,53,260,32,1,1,0,1
8,photo,4/17/2018 3:33,203,1,0,198,5,0,0,0,0
9,photo,4/11/2018 4:53,170,9,1,167,3,0,0,0,0
10,photo,4/10/2018 1:01,210,2,3,202,7,1,0,0,0
11,photo,4/9/2018 2:06,222,4,0,213,5,4,0,0,0
12,photo,4/8/2018 5:10,313,4,2,305,6,2,0,0,0
13,photo,4/8/2018 2:23,209,4,0,200,8,1,0,0,0
14,photo,4/5/2018 9:23,346,11,0,335,10,1,0,0,0
15,video,4/1/2018 5:16,332,100,30,303,23,1,5,0,0
16,video,3/30/2018 8:28,135,256,79,117,18,0,0,0,0
17,video,3/26/2018 8:28,150,173,47,132,16,1,0,1,0
18,video,3/23/2018 7:09,221,166,36,192,28,0,1,0,0
19,photo,3/22/2018 1:25,152,2,0,149,3,0,0,0,0
20,photo,3/21/2018 8:40,234,15,1,221,12,1,0,0,0
21,photo,3/21/2018 7:46,227,7,1,217,7,2,1,0,0
22,photo,3/20/2018 1:54,98,0,0,96,0,2,0,0,0
23,video,3/20/2018 1:28,18,0,0,18,0,0,0,0,0
24,photo,3/20/2018 0:15,102,0,0,100,0,2,0,0,0
25,video,3/19/2018 22:34,37,0,1,37,0,0,0,0,0
26,video,3/17/2018 8:07,75,36,14,70,5,0,0,0,0
27,video,3/17/2018 7:47,90,78,9,85,5,0,0,0,0
28,photo,3/12/2018 5:51,145,9,0,138,7,0,0,0,0
29,video,3/9/2018 7:45,253,300,31,229,22,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7020,photo,10/26/2016 4:03,256,24,10,256,0,0,0,0,0
7021,photo,10/24/2016 2:36,69,1,3,69,0,0,0,0,0
7022,photo,10/23/2016 1:43,9,0,0,9,0,0,0,0,0
7023,photo,10/22/2016 1:57,230,23,14,222,8,0,0,0,0
7024,photo,10/20/2016 6:05,12,0,0,12,0,0,0,0,0
7025,photo,10/17/2016 22:05,11,1,6,11,0,0,0,0,0
7026,photo,10/15/2016 4:05,9,0,0,9,0,0,0,0,0
7027,photo,10/13/2016 6:54,10,0,0,10,0,0,0,0,0
7028,photo,10/13/2016 2:25,2,0,0,2,0,0,0,0,0
7029,photo,10/13/2016 0:25,11,0,2,11,0,0,0,0,0
7030,photo,10/12/2016 22:16,91,2,2,91,0,0,0,0,0
7031,photo,10/11/2016 5:53,50,0,0,50,0,0,0,0,0
7032,photo,10/10/2016 11:31,10,1,0,10,0,0,0,0,0
7033,photo,10/10/2016 1:18,8,0,0,8,0,0,0,0,0
7034,video,10/10/2016 1:07,6,0,0,6,0,0,0,0,0
7035,photo,10/9/2016 8:36,10,0,0,10,0,0,0,0,0
7036,photo,10/8/2016 2:33,236,0,5,235,0,1,0,0,0
7037,photo,10/4/2016 1:49,15,0,1,14,1,0,0,0,0
7038,photo,10/1/2016 1:17,1,0,0,1,0,0,0,0,0
7039,photo,9/26/2016 5:48,7,0,0,7,0,0,0,0,0
7040,photo,9/25/2016 13:29,93,26,34,90,3,0,0,0,0
7041,photo,9/24/2016 8:15,9,0,0,7,2,0,0,0,0
7042,photo,9/24/2016 6:07,4,0,0,4,0,0,0,0,0
7043,photo,9/24/2016 5:07,196,2,3,195,1,0,0,0,0
7044,photo,9/24/2016 4:37,86,0,0,86,0,0,0,0,0
7045,photo,9/24/2016 2:58,89,0,0,89,0,0,0,0,0
7046,photo,9/23/2016 11:19,16,0,0,14,1,0,1,0,0
7047,photo,9/21/2016 23:03,2,0,0,1,1,0,0,0,0
7048,photo,9/20/2016 0:43,351,12,22,349,2,0,0,0,0
7049,photo,9/10/2016 10:30,17,0,0,17,0,0,0,0,0

In [2]:
#Cleaning data
df.drop_duplicates(inplace=True) #drop duplicates if any
df['status_published'] = pd.to_datetime(df['status_published']) #change data type of status_published to make it look nicer

#Creating new attributes to have a more specific analysis
#extracting specific information out of the status_published column
df['hour_published'] = df['status_published'].dt.hour

df['dayofweek_published'] = df['status_published'].dt.dayofweek #0 is Monday, 6 is Sunday.
def text_day(x): #define the function to convert approriate values into numerical values
    if x==0:
        return 'Monday'
    if x==1:
        return 'Tuesday'
    if x==2:
        return 'Wednesday'
    if x==3:
        return 'Thursday'
    if x==4:
        return 'Friday'
    if x==5:
        return 'Saturday'
    else:
        return 'Sunday'
df['day_of_week_published'] = df['dayofweek_published'].apply(text_day)

def reactions_level(x):
    if x<100:
        return 'Low'
    if 99<x<1000:
        return 'Medium'
    else:
        return 'High'
df['level_of_reactions'] = df['num_reactions'].apply(reactions_level)
    
df

,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,hour_published,dayofweek_published,day_of_week_published,level_of_reactions
0,video,2018-04-22 06:00:00,529,512,262,432,92,3,1,1,0,6,6,Sunday,Medium
1,photo,2018-04-21 22:45:00,150,0,0,150,0,0,0,0,0,22,5,Saturday,Medium
2,video,2018-04-21 06:17:00,227,236,57,204,21,1,1,0,0,6,5,Saturday,Medium
3,photo,2018-04-21 02:29:00,111,0,0,111,0,0,0,0,0,2,5,Saturday,Medium
4,photo,2018-04-18 03:22:00,213,0,0,204,9,0,0,0,0,3,2,Wednesday,Medium
5,photo,2018-04-18 02:14:00,217,6,0,211,5,1,0,0,0,2,2,Wednesday,Medium
6,video,2018-04-18 00:24:00,503,614,72,418,70,10,2,0,3,0,2,Wednesday,Medium
7,video,2018-04-17 07:42:00,295,453,53,260,32,1,1,0,1,7,1,Tuesday,Medium
8,photo,2018-04-17 03:33:00,203,1,0,198,5,0,0,0,0,3,1,Tuesday,Medium
9,photo,2018-04-11 04:53:00,170,9,1,167,3,0,0,0,0,4,2,Wednesday,Medium
10,photo,2018-04-10 01:01:00,210,2,3,202,7,1,0,0,0,1,1,Tuesday,Medium
11,photo,2018-04-09 02:06:00,222,4,0,213,5,4,0,0,0,2,0,Monday,Medium
12,photo,2018-04-08 05:10:00,313,4,2,305,6,2,0,0,0,5,6,Sunday,Medium
13,photo,2018-04-08 02:23:00,209,4,0,200,8,1,0,0,0,2,6,Sunday,Medium
14,photo,2018-04-05 09:23:00,346,11,0,335,10,1,0,0,0,9,3,Thursday,Medium
15,video,2018-04-01 05:16:00,332,100,30,303,23,1,5,0,0,5,6,Sunday,Medium
16,video,2018-03-30 08:28:00,135,256,79,117,18,0,0,0,0,8,4,Friday,Medium
17,video,2018-03-26 08:28:00,150,173,47,132,16,1,0,1,0,8,0,Monday,Medium
18,video,2018-03-23 07:09:00,221,166,36,192,28,0,1,0,0,7,4,Friday,Medium
19,photo,2018-03-22 01:25:00,152,2,0,149,3,0,0,0,0,1,3,Thursday,Medium
20,photo,2018-03-21 08:40:00,234,15,1,221,12,1,0,0,0,8,2,Wednesday,Medium
21,photo,2018-03-21 07:46:00,227,7,1,217,7,2,1,0,0,7,2,Wednesday,Medium
22,photo,2018-03-20 01:54:00,98,0,0,96,0,2,0,0,0,1,1,Tuesday,Low
23,video,2018-03-20 01:28:00,18,0,0,18,0,0,0,0,0,1,1,Tuesday,Low
24,photo,2018-03-20 00:15:00,102,0,0,100,0,2,0,0,0,0,1,Tuesday,Medium
25,video,2018-03-19 22:34:00,37,0,1,37,0,0,0,0,0,22,0,Monday,Low
26,video,2018-03-17 08:07:00,75,36,14,70,5,0,0,0,0,8,5,Saturday,Low
27,video,2018-03-17 07:47:00,90,78,9,85,5,0,0,0,0,7,5,Saturday,Low
28,photo,2018-03-12 05:51:00,145,9,0,138,7,0,0,0,0,5,0,Monday,Medium
29,video,2018-03-09 07:45:00,253,300,31,229,22,1,1,0,0,7,4,Friday,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7020,photo,2016-10-26 04:03:00,256,24,10,256,0,0,0,0,0,4,2,Wednesday,Medium
7021,photo,2016-10-24 02:36:00,69,1,3,69,0,0,0,0,0,2,0,Monday,Low
7022,photo,2016-10-23 01:43:00,9,0,0,9,0,0,0,0,0,1,6,Sunday,Low
7023,photo,2016-10-22 01:57:00,230,23,14,222,8,0,0,0,0,1,5,Saturday,Medium
7024,photo,2016-10-20 06:05:00,12,0,0,12,0,0,0,0,0,6,3,Thursday,Low
7025,photo,2016-10-17 22:05:00,11,1,6,11,0,0,0,0,0,22,0,Monday,Low
7026,photo,2016-10-15 04:05:00,9,0,0,9,0,0,0,0,0,4,5,Saturday,Low
7027,photo,2016-10-13 06:54:00,10,0,0,10,0,0,0,0,0,6,3,Thursday,Low
7028,photo,2016-10-13 02:25:00,2,0,0,2,0,0,0,0,0,2,3,Thursday,Low
7029,photo,2016-10-13 00:25:00,11,0,2,11,0,0,0,0,0,0,3,Thursday,Low
7030,photo,2016-10-12 22:16:00,91,2,2,91,0,0,0,0,0,22,2,Wednesday,Low
7031,photo,2016-10-11 05:53:00,50,0,0,50,0,0,0,0,0,5,1,Tuesday,Low
7032,photo,2016-10-10 11:31:00,10,1,0,10,0,0,0,0,0,11,0,Monday,Low
7033,photo,2016-10-10 01:18:00,8,0,0,8,0,0,0,0,0,1,0,Monday,Low
7034,video,2016-10-10 01:07:00,6,0,0,6,0,0,0,0,0,1,0,Monday,Low
7035,photo,2016-10-09 08:36:00,10,0,0,10,0,0,0,0,0,8,6,Sunday,Low
7036,photo,2016-10-08 02:33:00,236,0,5,235,0,1,0,0,0,2,5,Saturday,Medium
7037,photo,2016-10-04 01:49:00,15,0,1,14,1,0,0,0,0,1,1,Tuesday,Low
7038,photo,2016-10-01 01:17:00,1,0,0,1,0,0,0,0,0,1,5,Saturday,Low
7039,photo,2016-09-26 05:48:00,7,0,0,7,0,0,0,0,0,5,0,Monday,Low
7040,photo,2016-09-25 13:29:00,93,26,34,90,3,0,0,0,0,13,6,Sunday,Low
7041,photo,2016-09-24 08:15:00,9,0,0,7,2,0,0,0,0,8,5,Saturday,Low
7042,photo,2016-09-24 06:07:00,4,0,0,4,0,0,0,0,0,6,5,Saturday,Low
7043,photo,2016-09-24 05:07:00,196,2,3,195,1,0,0,0,0,5,5,Saturday,Medium
7044,photo,2016-09-24 04:37:00,86,0,0,86,0,0,0,0,0,4,5,Saturday,Low
7045,photo,2016-09-24 02:58:00,89,0,0,89,0,0,0,0,0,2,5,Saturday,Low
7046,photo,2016-09-23 11:19:00,16,0,0,14,1,0,1,0,0,11,4,Friday,Low
7047,photo,2016-09-21 23:03:00,2,0,0,1,1,0,0,0,0,23,2,Wednesday,Low
7048,photo,2016-09-20 00:43:00,351,12,22,349,2,0,0,0,0,0,1,Tuesday,Medium
7049,photo,2016-09-10 10:30:00,17,0,0,17,0,0,0,0,0,10,5,Saturday,Low

In [3]:
#Organizing data: drop columns that are not useful for the analysis
df.drop('status_published', axis=1, inplace=True) 
df.drop('num_shares', axis=1, inplace=True)
df.drop('num_comments', axis=1, inplace = True)
df.drop('num_likes', axis=1, inplace = True)
df.drop('num_loves', axis=1, inplace = True)
df.drop('num_wows', axis=1, inplace = True)
df.drop('num_hahas', axis=1, inplace = True)
df.drop('num_sads', axis=1, inplace = True)
df.drop('num_angrys', axis=1, inplace = True)
df.drop('dayofweek_published', axis=1, inplace = True)

df.shape

(6996, 5)

In [4]:
df = df.take(np.random.permutation(len(df))[:401]) #take random rows to reduce file's size to be able to use on Weka

df.to_csv('ThaiDemo.csv',index=False,header=True) #saving the selected random rows into a new csv file

In [5]:
df

,status_type,num_reactions,hour_published,day_of_week_published,level_of_reactions
111,photo,203,3,Monday,Medium
1596,photo,58,5,Tuesday,Low
938,photo,320,5,Monday,Medium
5401,video,54,7,Sunday,Low
6422,video,23,7,Monday,Low
931,photo,151,10,Sunday,Medium
2373,photo,11,6,Monday,Low
4317,video,0,8,Friday,Low
729,photo,96,12,Monday,Low
2151,photo,24,10,Wednesday,Low
404,photo,210,1,Sunday,Medium
4870,photo,17,22,Tuesday,Low
4968,photo,20,2,Thursday,Low
2191,photo,4,1,Sunday,Low
5869,photo,32,7,Friday,Low
7013,photo,6,1,Sunday,Low
4058,video,1,0,Sunday,Low
2351,photo,11,4,Saturday,Low
5407,video,200,1,Saturday,Medium
2694,photo,56,8,Wednesday,Low
1782,photo,18,0,Tuesday,Low
5273,video,110,1,Wednesday,Medium
246,photo,243,11,Sunday,Medium
526,photo,86,9,Sunday,Low
3730,photo,2,8,Wednesday,Low
4588,video,2046,8,Friday,High
3621,video,20,10,Monday,Low
4901,photo,13,1,Monday,Low
1762,photo,54,9,Saturday,Low
424,photo,186,7,Sunday,Medium
...,...,...,...,...,...
5827,photo,50,11,Monday,Low
4710,photo,115,9,Monday,Medium
6671,photo,105,15,Monday,Medium
6992,video,36,9,Friday,Low
3790,photo,10,1,Tuesday,Low
5639,photo,12,2,Thursday,Low
2344,photo,22,8,Sunday,Low
827,status,148,0,Monday,Medium
5188,video,113,1,Thursday,Medium
2274,photo,12,11,Sunday,Low
269,photo,103,4,Friday,Medium
6385,video,225,9,Sunday,Medium
3601,photo,41,7,Sunday,Low
2164,photo,0,5,Saturday,Low
160,photo,148,2,Thursday,Medium
1531,video,240,2,Saturday,Medium
3210,video,304,0,Saturday,Medium
5157,video,167,1,Friday,Medium
3813,photo,1,6,Monday,Low
4877,photo,35,7,Tuesday,Low
759,photo,193,4,Thursday,Medium
4772,photo,15,2,Monday,Low
2759,photo,2,5,Saturday,Low
6432,video,25,7,Monday,Low
5647,photo,2,2,Wednesday,Low
1179,video,2259,9,Wednesday,High
3138,photo,228,2,Sunday,Medium
546,photo,305,0,Wednesday,Medium
4914,photo,28,3,Sunday,Low
2477,photo,10,9,Thursday,Low

In [6]:
df.corr()

                num_reactions  hour_published
num_reactions        1.000000        0.028234
hour_published       0.028234        1.000000

In [7]:
df.mode().transpose()

data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])
data_types

missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
missing_data_counts

present_data_counts = pd.DataFrame(df.count(), columns=['Present Values'])
present_data_counts

unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):
    unique_value_counts.loc[v] = [df[v].nunique()]
    
unique_value_counts

minimum_values = pd.DataFrame(columns=['Minimum Values'])
for v in list(df.columns.values):
    minimum_values.loc[v] = [df[v].min()]
    
minimum_values

maximum_values = pd.DataFrame(columns=['Maximum Values'])
for v in list(df.columns.values):
    maximum_values.loc[v] = [df[v].max()]
    
maximum_values

# data_quality_report = data_types.join(present_data_counts).join(missing_data_counts).join(unique_value_counts).join(minimum_values).join(maximum_values)

pd.concat([present_data_counts, missing_data_counts, unique_value_counts, minimum_values, maximum_values], axis=1)

,Present Values,Missing Values,Unique Values,Minimum Values,Maximum Values
status_type,401,0,4,link,video
num_reactions,401,0,217,0,2636
hour_published,401,0,22,0,23
day_of_week_published,401,0,7,Friday,Wednesday
level_of_reactions,401,0,3,High,Medium